#imgCard {
    width: clamp(100px,10vw,200px);
    height: clamp(110px,12vw,280px);
    background-color: #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 5px #888888;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(8px,1vw,100px);
}

.image {
    width: clamp(100px,10vw,200px);
}

.imageTitle {
    text-align: center;
    position: relative;
    top: -1vw;
}

.imageSource {
    text-align: right;
    position: relative;
    top: -2vw;
}